---
import { joinURL } from "ufo";
import "../styles/global.css";

interface Props {
  lang: string;
  title: string;
  additionalCssHashes?: string;
}

const { lang, title, additionalCssHashes } = Astro.props;
const { BASE_URL } = import.meta.env;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      http-equiv="Content-Security-Policy"
      content={[
        `default-src 'self';`,

        `connect-src 'self' https://cloudflareinsights.com;`,
        `script-src 'self' https://static.cloudflareinsights.com${import.meta.env.PROD ? "" : " 'unsafe-inline' 'unsafe-eval'"};`,
        `style-src 'self'${additionalCssHashes ?? ""}${import.meta.env.PROD ? "" : " 'unsafe-inline'"};`,

        `base-uri 'none';`,
        `font-src 'self';`,
        `form-action 'self';`,
        `frame-src 'none';`,
        `img-src 'self' data:;`,
        `manifest-src 'self';`,
        `object-src 'none';`,
        `require-trusted-types-for 'script';`,
        `upgrade-insecure-requests;`,
        `worker-src 'self';`,
      ].join(" ")}
    />

    <title>{title}</title>
    <slot name="head-info" />
    <link
      rel="alternate"
      type="text/markdown"
      href={joinURL(BASE_URL, "llms.txt")}
      title="LLM Context"
    />

    <link
      rel="icon"
      type="image/png"
      href={joinURL(BASE_URL, "favicon-96x96.png")}
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={joinURL(BASE_URL, "favicon.svg")}
    />
    <link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={joinURL(BASE_URL, "apple-touch-icon.png")}
    />
    <link rel="manifest" href={joinURL(BASE_URL, "site.webmanifest")} />

    <slot name="head-bottom" />
  </head>
  <body>
    <div>
      <slot />
      <footer>
        <p>&copy; 2025 Kaito Udagawa</p>
        <p>
          <a
            href={joinURL(BASE_URL, "llms.txt")}
            target="_blank"
            rel="noopener noreferrer"
          >
            llms.txt
          </a>
        </p>
      </footer>
    </div>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "0df4a48356ba406099ae721158ab230b"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>

<style>
  body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  footer {
    color: #fff;
  }

  footer p {
    display: inline-block;
  }

  footer a {
    color: #fff;
  }
</style>
