---
import { joinURL, withTrailingSlash } from "ufo";

import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    lang: string;
    title: string;
    description: string;
  };
}

const { BASE_URL } = import.meta.env;
const { lang, title, description } = Astro.props.frontmatter;
---

<Layout lang={lang} title={title}>
  <main class="white-box">
    <Fragment slot="head">
      <meta name="description" content={description} />
      <link
        rel="canonical"
        href={withTrailingSlash(joinURL(BASE_URL, Astro.url.pathname))}
      />
    </Fragment>

    <slot />

    <nav aria-label="Page navigation" style="margin-top: 2rem;">
      <p>
        <a href={withTrailingSlash(BASE_URL)}>Back to Top</a>
      </p>
    </nav>
  </main>
</Layout>
