---
import Layout from "../layouts/Layout.astro";
import { joinURL } from "ufo";
const { BASE_URL } = import.meta.env;
---

<Layout
  lang="en"
  title="How to install?"
  description="Instructions for installing Live Background Removal Lite on various operating systems."
>
  <main class="white-box">
    <h1>How to install?</h1>
    <h2>Windows</h2>
    <h2>macOS</h2>
    <h2>Ubuntu</h2>
    <h2>Arch Linux</h2>
    <h2>Flatpak</h2>
    <h2>Other Linux distributions</h2>
    <a href={joinURL(BASE_URL, "")}>Back to Top</a>
  </main>
</Layout>
