---
import { joinURL } from "ufo";
import Layout from "../layouts/Layout.astro";
import { getLatestRelease } from "../lib/github.js";
import { dependencies, name } from "../../../buildspec.json";
const githubURL = `https://github.com/kaito-tokyo/${name}`;
const { BASE_URL } = import.meta.env;

const release = await getLatestRelease();
const tagName = release.tag_name;
---

<Layout
  lang="en"
  title="How to install?"
  description="Instructions for installing Live Background Removal Lite on various operating systems."
>
  <main class="white-box">
    <h1>Usage</h1>
    <a href={joinURL(BASE_URL, "")}>Back to Top</a>
  </main>
</Layout>
