---
// SPDX-FileCopyrightText: 2025-2026 Kaito Udagawa <umireon@kaito.tokyo>
//
// SPDX-License-Identifier: Apache-2.0

import { joinURL, withTrailingSlash } from "ufo";

import { defaultContentSecurityPolicy } from "../lib/csp.mjs";
import { PRODUCTION_BASE_URL } from "../lib/info.mjs";

const { BASE_URL, PROD } = import.meta.env;
const GITHUB_SHA = import.meta.env.GITHUB_SHA?.trim();
---

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
{ PROD && (<meta http-equiv="Content-Security-Policy" content={defaultContentSecurityPolicy.join(" ")} />) }
<title>Live Background Removal Lite</title>
<meta name="description" content="The list of available languages for the homepage of Live Background Removal Lite." />
<meta name="viewport" content="width=device-width" />
<meta name="revision" content={GITHUB_SHA ?? "undefined"} />
<link rel="icon" type="image/svg+xml" href={joinURL(BASE_URL, "favicon.svg")} />
<link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
<link rel="canonical" href={withTrailingSlash(PRODUCTION_BASE_URL)} />
<link rel="alternate" hreflang="x-default" href={withTrailingSlash(PRODUCTION_BASE_URL)} />
<link rel="alternate" hreflang="en" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "en"))} />
<link rel="alternate" hreflang="de-de" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "de-de"))} />
<link rel="alternate" hreflang="es-es" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "es-es"))} />
<link rel="alternate" hreflang="fr-fr" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "fr-fr"))} />
<link rel="alternate" hreflang="ja-jp" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ja-jp"))} />
<link rel="alternate" hreflang="ko-kr" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ko-kr"))} />
<link rel="alternate" hreflang="pt-br" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "pt-br"))} />
<link rel="alternate" hreflang="ru-ru" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ru-ru"))} />
<link rel="alternate" hreflang="zh-cn" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "zh-cn"))} />
<link rel="alternate" hreflang="zh-tw" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "zh-tw"))} />
<meta http-equiv="refresh" content={`0; url=${withTrailingSlash(joinURL(BASE_URL, "en"))}`} />
</head>
<body>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"0df4a48356ba406099ae721158ab230b"}'></script>
</body>
</html>
